* {
  font-family: 'Veranda', Verdana, Geneva, Tahoma, sans-serif; 
}

body, html {
  background-image: linear-gradient(to top, #ff9a9e 0%, #701ba5 99%, #fecfef 100%);
  background-repeat: no-repeat;
  height: 240%;
  width: 100vw;
  color: whitesmoke;
}

nav {
  display: flex;
  justify-content: space-between;
}

h3 {
  border: 2px solid red;
  padding: 10px;
}

.daily-steps {
  padding: 10px;
  margin: 10px;
  border: 5px solid rgb(106, 74, 145);
  width: fit-content;
}

.user-info-cards {
  display: flex;
  justify-content: center;
  word-wrap: normal;
}

.user-card, .hydration-card, .sleep-card, .activity-card {
  border: 2px solid rgb(180, 28, 117);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.hidden {
  display: none
}